ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
install-sh
ln-sr
missing
py-compile

*.pyc
*.pyo
*.spec
*.swp
*.tmp
*~
__pycache__
tmp.*

ovirt-engine-kerbldap-migration-authz-rename
ovirt-engine-kerbldap-migration-spawn.sh
ovirt-engine-kerbldap-migration-tool
ovirt_engine_kerbldap_migration/common/config.py
